.about {
  display: flex;
  flex-direction: row;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  height: 10rem;
  width: 100%;
}
.navbar .logo {
  font-size: 3rem;
}
.navbar nav {
  margin-top: 2rem;
  border-bottom: 1rem solid #F1F1F1;
}
.navbar nav a {
  font-size: 2rem;
  text-decoration: none;
  margin: 0 2rem;
  color: #454A59;
}
@media (max-width: 500px) {
  .navbar nav a {
    font-size: 1.2rem;
    margin: 0 0.5rem;
  }
}
.intro-img {
  background-image: url('../img/main-header.png');
  background-size: cover;
  background-position: center;
  height: 23rem;
}
@media (max-width: 500px) {
  .intro-img {
    height: 10rem;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  footer p {
    font-size: 1.5rem;
  }
}
.home .intro h2 {
  padding: 15px;
  color: #23293B;
}
@media (max-width: 500px) {
  .home .intro h2 {
    padding: 7.5px;
    font-size: 2rem;
    width: 90%;
    margin: 0 auto;
  }
}
.home .intro p {
  padding: 0 15px;
  color: #5E6164;
}
@media (max-width: 500px) {
  .home .intro p {
    padding: 4px;
    font-size: 1.5rem;
    width: 90%;
    margin: 0 auto;
  }
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images .blast {
    width: 85%;
    margin: 0 auto;
    margin-top: 2rem;
  }
}
@media (max-width: 500px) {
  .home .space-images .sky {
    display: none;
  }
}
@media (max-width: 500px) {
  .home .space-images .launch {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
@media (max-width: 500px) {
  .home .visit-planets h3 {
    font-size: 1.8rem;
  }
}
.home .visit-planets p {
  margin-top: 13px;
}
@media (max-width: 500px) {
  .home .visit-planets p {
    font-size: 1.5rem;
  }
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    order: 2;
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .home .walk .walk-text h3 {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
@media (max-width: 500px) {
  .home .walk .walk-text p {
    font-size: 1.5rem;
  }
}
.home .walk .walk-text .btn {
  background-color: #23293B;
  border-radius: 1.2rem;
  color: #F1F1F1;
  width: 30%;
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem 2rem;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    background-color: #23293B;
    border-radius: 0.5rem;
    color: #F1F1F1;
    width: 100%;
  }
}
.home .walk .walk-text .btn:hover {
  background-color: #5E6164;
  color: #F6F7F8;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    order: 1;
    width: 100%;
    margin-left: 0;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.about {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .about {
    width: 90%;
  }
}
.our-story {
  margin-top: 2rem;
}
.our-story h2 {
  margin-top: 2rem;
}
.our-story p {
  font-size: 1.5rem;
  margin: 2rem 0;
}
.our-team {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .our-team {
    display: flex;
    flex-direction: column;
  }
}
.our-team .employee {
  width: 30%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #dee2e6;
}
@media (max-width: 500px) {
  .our-team .employee {
    width: 100%;
    margin: 2rem 0;
  }
}
.our-team .employee h4 {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}
.our-team .employee p {
  font-size: 1.5rem;
  margin-top: 2rem;
}
.our-team .img-1 {
  background: url('../img/img-1.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
}
.our-team .img-2 {
  background: url('../img/img-2.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
}
.our-team .img-3 {
  background: url('../img/img-3.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
}
.contact-us {
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.contact-us h3 {
  margin: 2rem 0;
}
.contact-us label {
  font-size: 2rem;
  text-align: left;
}
.contact-us input {
  font-size: 1.5rem;
  margin: 2rem 0;
  padding: 2rem;
}
@media (max-width: 500px) {
  .contact-us input {
    border: 1px solid #454A59;
  }
}
.contact-us .btn {
  background-color: #23293B;
  border-radius: 1.2rem;
  color: #F1F1F1;
  padding: 2rem;
  width: 100%;
}
.contact-us .btn:hover {
  background-color: #5E6164;
  color: #F6F7F8;
}
.contact-us .btn a {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
